<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre / Registro</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header1">
            <a class="logo" href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"></a>
            <div class="barra">
                <input type="search" name="search-bar" placeholder="Buscar productos, marcas" class="barraBusqueda">
                <button class="icono"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <span class="aviso"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de
                crédito</span>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <span class="burguer-menu"><i class="fas fa-bars"></i></span>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
    <main>
        <h2>Login</h2>
        <form action="./" method="get">
            <div>
                <input type="text" name="registered-user" placeholder="Nombre de usuario" class="form-element" minlength="5">
            </div>
            <div>
                <input type="password" name="registered-password" placeholder="Contraseña" class="form-element" minlength="5">
            </div>
            <button class="bLogin" type="submit">Enviar</button>

        </form>

    </main>
    <footer>
        <div class="moreInfo">
            <div class="details">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
            <div class="details">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
            <div class="details">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>